# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
.eggs/
*.egg
*.egg-info/
*.egg-info
*.whl
*.pyc

# Virtual environments
.venv
ENV/
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Logs
*.log
